$Background-Color: #222222;
$Foreground-Color: #dedede;
$Background-Color-Hierarchy: #272727;
$Background-Color-Panel: #383838;
$Hover-Color: #383838;
$Font-Color: #efefef;
$Font-Reverse-Color: #212121;
$Font-Selected-Color: #aaaaaa;
$Button-Normal: #989898;
$Button-Hover: #dedede;
$Selected-Border-Color: #ffc011;
$Selected-Item-Color: #93ffb3;
$Selected-Item-Backcolor: #2b3a2f;
$Hierarchy-Color-Line: #6d6d6d;
$Normal-Brightness: 0.6;
$Focus-Brightness: 0.9;
